@import './variables.scss';
@import './sidebar.scss';

.app-main {
    min-height: 100%
}

.app-container {
    padding: 20px;
}

//操作栏样式
.operate-container {
    margin-top: 20px;
}

.operate-container .btn-add {
    float: right;
}

//表格栏样式
.table-container {
    margin-top: 20px;
}


//分页栏样式
.pagination-container {
    display: inline-block;
    float: right;
    margin-top: 20px;
  }